In [ ]:
n = int(input())
m = []
for i in range(10):
  if i%2!=0:
    m.append(i)

for x in m:
  for y in range(n-1):
    print("{}\n".format("1"*x))
    break

3
1

111

11111

1111111

111111111

In [ ]:
# cook your dish here
n = input()

cab = []

for i in range(1,int(n)):
    x = input().split()
    cab.extend(x)

3
30 60
20 60

In [ ]:
n = input().split()

idx = []

val = []

for i in range(0,len(n)-1):
  idx.append(i)
for j in n:
  val.append(int(j))

for x in idx:
  for y in val:
    if x == y:
      print(x)
print(len(n))

6 7 3 3 4 5
3
3
4
6

In [ ]:
n = [6 ,7 ,3, 3, 4, 5]

print(n.index(7))

1

In [ ]:
n = input().split()
n.sort(reverse=True)

print("->".join(n))

1 2 3 4 5 6 7
7->6->5->4->3->2->1

In [ ]:
n = input()
string = [i for i in n]
string.sort(reverse=False)

print("".join(string))

aabbba
aaabbb

In [ ]:
n = input()

vol = ['a','e','i','o','u','A','E','O','I','U']
n1 = []
n2 = []
for i in n:
  if i in vol:
    n1.append(i)
  else:
    n2.append(i)
n1.extend(n2)
print("".join(n1))n = i

GuVI
['u', 'I']
['G', 'V']
uIGV

In [2]:
m = input()
n = input().split()
lst = []
for i in n:
  if n.count(i)>1:
    if int(i) not in lst:
      lst.append(int(i))
  else:
    continue
lst.sort()
if sum(lst)>0:
  print(*lst)
else:
  print("unique")

1
1 2 3 4 4
4