In [ ]:
# This is the example of print simple pyramid pattern  
n = int(input("Enter the number of rows"))  
# outer loop to handle number of rows  
ans = []
for i in range(n, 0,-1):  
    # inner loop to handle number of columns  
    # values is changing according to outer loop  
        for j in range(0, i):  
            # printing stars  
            ans.append("*")
            print(ans)
            
        print() 
        ans.clear()
        break

Enter the number of rows5
['*']
['*', '*']
['*', '*', '*']
['*', '*', '*', '*']

In [ ]:
n = input().split()

m = []

In [ ]:
rows = int(input())

pt = []

for i in range(rows,0,-1):
    for j in range(i):
      print(i,end="")
    print()

5
55555
4444
333
22
1

In [ ]:
n = int(input())

num = 1


for i in range(n):
  for j in range(i+1):
    print(num,end="")
    num = num+1
  num= 1
  print()

5
1
12
123
1234
12345